.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
    }

.logo{
    background-color: #ff7f7f;
    height: 35px;
    animation: rotate-logo infinite 8s linear;
}

@keyframes rotate-logo {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}